*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(39, 38, 38);
    color: aliceblue;
}

a{
    text-decoration: none;
}

.volver{
    margin: 10px;

}

.title{
    text-align: center;
}

.title p{
    font-size: 2vh;
}

.historial table{
    border-radius: 15px 0 15px 0 !important; 
    box-shadow: rgba(245, 245, 245, 0.25) 0px 54px 55px, rgba(215, 214, 214, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}